<form action="_comments" method="POST">
  <label for="commentor_name">Name: </label>
  <input type="text" name="commentor_name" placeholder="Your Name" id="commentor_name">
  <br/><br/>
  <label for="comment">Comment: </label>
  <input type="textarea" name="comment" placeholder="Comment" id="comment">
  <br/><br/>
  <input type="submit" value="Post">
</form>
