<ul>
<% @posts.each do |post| %>
  <li>
    <a href="/posts/<%= post["id"] %>"><%= post["title"] %></a>
  </li>
<% end %>
</ul>
<br/>
<a href="/posts/new">Add a post</a>
<br/>
<a href="/posts?first=9">Next 10 Posts</a>
<br/>
<a href="/rss/1">RSS</a>
<br/>
<a href="/as/1">Activity Stream</a>
<br/>
<a href="/hashtags/NFC">Hashtags</a>