<!doctype html>

<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Blog">
  <head>
    <meta charset="utf-8">

    <title>project_one_app</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Snippet -->
    <!-- Add the following three tags inside head. -->
    <meta itemprop="name" content="Blog">
    <meta itemprop="description" content="My blog">
    <meta itemprop="image" content="#">
    <!-- Snippet End -->
    <!-- Feeds -->
    <link rel="canonical" href="http://domain.tld/posts/post-id" />
    <link rel="alternate" type="application/rss+xml" title="Post Title" href="/rss/post-id" />
    <link rel="alternate" type="application/activitystream+json" title="Post Title" href="/as/post-id" />
    <!-- Feeds End -->

    <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
