<form action="/posts" method="POST">
  <label for="post_title">Title</label>
  <input type="text" name="title" placeholder="Post Title" id="title">
  <br/><br/>
  <label for="post_story">Story</label>
  <input type="textarea" name="story" placeholder="Post Content" id="story">
  <br/><br/>
  <input type="submit" value="Post">
</form>