<form action="/posts" method="POST">
  <label for="post_title">Title</label>
  <input type="text" name="title" placeholder="Post Title" id="title">
  <br/><br/>
  <label for="post_story">Story</label>
  <textarea cols="40" rows="8" name="story" placeholder="Post Content" id="story"></textarea>
  <br/><br/>
  <label for="hashtags">Hashtags: </label>
  <textarea cols="40" rows="2" name="hashtags" placeholder="Hashtags (Separate by commas)" id="hashtags"></textarea>
  <br/><br/>
  <input type="submit" value="Post">
</form>